<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    
</head>
<body>
    
    <h1>Home</h1>
    <div class="container">
    <form method="get" action="{{ url_for('login') }}">
        <button type="submit">Login</button>
    </form>
    <form method="get" action="{{ url_for('register')}}">
        <button type="submit">Register</button>
    </form>
    <form method="get" action="{{ url_for('admin_login') }}">
        <button type="submit">Admin Login</button>
    </form>
    </div>
</body>
</html>
