<!-- templates/movies.html -->
<!-- ... -->
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='movie.css') }}">
</head>
<body>
    <form method="get" action="{{ url_for('selection') }}">
        <button type="submit" class="button">Select</button>
    </form>

    <form method="get" action="{{ url_for('collection') }}">
        <button type="submit" class="button">Your Collection</button>
    </form>

    <div class="movie-container"> <!-- Add this div with the movie-container class -->
        {% for movie in movies %}
            <div class="movie-card">
                <h3>{{ movie.title }} - {{ movie.genre }}</h3>
                <p>{{ movie.description }}</p>
                <video width="320" height="240" controls>
                    <source src="{{ url_for('video', movie_id=movie.id) }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <form method="post" action="{{ url_for('add_to_collection', movie_id=movie.id) }}">
                    <button type="submit" class="button">Add to Collection</button>
                </form>
            </div>
        {% endfor %}
    </div>

    
</body>
<!-- ... -->
